{
  "extends": [
    "eslint:recommended",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "html"
  ],
  "env": {
    "jasmine": true
  },
  "rules": {
    "semi": [2, "always"]
  }
}
